body{
    margin: 0 0 0 0;
    background-color:#9b6135 ;
}
    .carte1 {
      border:solid 20px #1B4616;
        border-radius: 16px;
        margin: 0 auto;
        width: 90%;
        margin-left: 2%;
        max-width: 100%;
        min-height: 50px;
        box-shadow: 10px 15px 5px -1px #492d18 ;
        overflow: hidden;
        background-size: cover;
      }
      .libellecard{
        position: absolute;
        border-radius: 20%;
        margin-left: 5%;
        width: 10%;
        margin-bottom: 10%;
        background-color: #1B4616;
        color: black;
        font-size: 30px;
      }

    .footer { display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; 

    }

  @media screen and (max-width:1000px) {
    .page{
        display: block;
    }
  }
